<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Edit Task</h1>
        <form action="/edit/<%= encodeURIComponent(taskToEdit) %>" method="post">
            <label for="updatedTask">Edit Task:</label>
            <input type="text" id="updatedTask" name="updatedTask" value="<%= taskToEdit %>" required>
            <button type="submit">Update Task</button>
        </form>
    </div>
</body>

</html>
